<form [formGroup]="filterForm">
  <div *ngIf="species.length > 1 && films.length > 1; else loadingFilmControl">
    <div>
      <label for="movie">Character appeared in: </label>
      <select id="film" formControlName="film_url">
        <option [ngValue]="null" [disabled]="true">Choose a movie</option>
        <option *ngFor="let film of films" [ngValue]="film.url">{{ film.title }}</option>
      </select>
    </div>
    <div>
      <label for="species">Character is a: </label>
      <select id="species" formControlName="species_url">
        <option [ngValue]="null" [disabled]="true">Choose a species</option>
        <option *ngFor="let species of species" [ngValue]="species.url">{{ species.name }}</option>
      </select>
    </div>
    <div>
      <label>Born before: </label>
      <input type="text" placeholder="year" formControlName="bornBefore" />
    </div>
    <div>
      <label>Born after: </label>
      <input type="text" placeholder="year" formControlName="bornAfter" />
    </div>
  </div>
  <ng-template #loadingFilmControl>
    Form data is loading...
  </ng-template>
</form>
